#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    background: rgba(255,255,255,.8);
}

#aside-content>.card-widget  {
    background: rgba(255,255,255,.8);
}

#aside-content>.sticky_layout>.card-widget{
    background: rgba(255,255,255,.8);
}

.layout>#post{
    background: rgba(255,255,255,.8);
}

.layout>#page{
    background: rgba(255,255,255,.8);
}

.layout>#archive{
    background: rgba(255,255,255,.8);
}
